<h1>Say something to your parents:</h1>

<!-- This says once you hit submit, send this data to the
     '/response' route with the POST method -->
<form action="/response" method="post">
  <input type="text" name="greeting">
  <input type="submit" value="Say it!">
</form>